1.	Masukkan iris.csv ke dataframe

In [129]:
import pandas as pd

In [130]:
df = pd.read_csv('..\..\..\..\..\iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

2.	Normalisasikan setiap attribut iris ke dataframe menggunakan normalisasi min max sehingga setiap nilai attribut memiliki range 0 – 1. Vbaru = (Vlama - Vmin) / (Vmax - Vmin). Vbaru = nilai data di suatu sel setelah normalisasi, Vlama = nilai data asli sebelum normalisasi, Vmax = nilai max dari kolom data tersebut, Vmin = nilai min dari kolom data tersebut

In [131]:
def normal(data):
    return (df[data] - df[data].min()) / (df[data].max() - df[data].min())

df["sepal.length"] = normal("sepal.length")
df["sepal.width"] = normal("sepal.width")
df["petal.length"] = normal("petal.length")
df["petal.width"] = normal("petal.width")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.067797     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.041667     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.208333      0.677966     0.750000  Virginica
147      0.611111     0.416667      0.711864     0.791667  Virginica
148      0.527778     0.583333      0.745763     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

3.	Cari centroid dari data yang telah dinormalisasi. Centroid dihitung dari rata2 seluruh data suatu kolom

In [132]:
cen_setosa = df.loc[df["variety"] == "Setosa"].mean()
cen_versicolor = df.loc[df["variety"] == "Versicolor"].mean()
cen_virginica = df.loc[df["variety"] == "Virginica"].mean()

print("=======Centroid Setosa========\n{} \n========Centroid versicolor========\n{} \n========Centroid virginica========\n{}".format(cen_setosa, cen_versicolor, cen_virginica))

=======Centroid Setosa========
sepal.length    0.196111
sepal.width     0.595000
petal.length    0.078305
petal.width     0.060833
dtype: float64
========Centroid versicolor========
sepal.length    0.454444
sepal.width     0.320833
petal.length    0.552542
petal.width     0.510833
dtype: float64
========Centroid virginica========
sepal.length    0.635556
sepal.width     0.405833
petal.length    0.771525
petal.width     0.802500
dtype: float64

C:\Users\Nasrul Wahabi\AppData\Local\Temp\ipykernel_18324\68987014.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cen_setosa = df.loc[df["variety"] == "Setosa"].mean()
C:\Users\Nasrul Wahabi\AppData\Local\Temp\ipykernel_18324\68987014.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cen_versicolor = df.loc[df["variety"] == "Versicolor"].mean()
C:\Users\Nasrul Wahabi\AppData\Local\Temp\ipykernel_18324\68987014.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cen_virginica = df.loc[df["variety"] == "Virginica"].mean()

4.	Masukkan iristesting.csv ke dataframe. Normalisasikan iristesting.csv menggunakan vmin dan vmax pada data 1

In [133]:
dftest = pd.read_csv('..\..\..\..\..\iristesting.csv')
dftest

def normal(value):
    return (dftest[value] - dftest[value].min()) / (dftest[value].max() - dftest[value].min())

dftest['sepal.length'] = normal('sepal.length')
dftest['sepal.width'] = normal('sepal.width')
dftest['petal.length'] = normal('petal.length')
dftest['petal.width'] = normal('petal.width')
dftest

    sepal.length  sepal.width  petal.length  petal.width     variety
0           0.24     0.800000      0.000000     0.043478      Setosa
1           0.04     0.000000      0.000000     0.043478      Setosa
2           0.00     0.600000      0.000000     0.000000      Setosa
3           0.24     0.800000      0.065217     0.173913      Setosa
4           0.28     1.000000      0.130435     0.086957      Setosa
5           0.16     0.466667      0.021739     0.043478      Setosa
6           0.28     1.000000      0.065217     0.000000      Setosa
7           0.08     0.600000      0.021739     0.000000      Setosa
8           0.36     0.933333      0.043478     0.000000      Setosa
9           0.24     0.666667      0.021739     0.000000      Setosa
10          0.44     0.200000      0.673913     0.434783  Versicolor
11          0.68     0.466667      0.717391     0.521739  Versicolor
12          0.56     0.200000      0.586957     0.434783  Versicolor
13          0.24     0.000000      0.434783     0.347826  Versicolor
14          0.48     0.266667      0.630435     0.478261  Versicolor
15          0.52     0.466667      0.630435     0.434783  Versicolor
16          0.52     0.400000      0.630435     0.478261  Versicolor
17          0.72     0.400000      0.652174     0.478261  Versicolor
18          0.28     0.133333      0.369565     0.391304  Versicolor
19          0.52     0.333333      0.608696     0.478261  Versicolor
20          0.92     0.533333      0.934783     0.956522   Virginica
21          1.00     0.533333      0.826087     0.913043   Virginica
22          0.56     0.266667      0.826087     0.739130   Virginica
23          0.96     0.600000      1.000000     0.913043   Virginica
24          0.92     0.666667      0.956522     1.000000   Virginica
25          0.92     0.466667      0.847826     0.913043   Virginica
26          0.76     0.133333      0.804348     0.739130   Virginica
27          0.84     0.466667      0.847826     0.782609   Virginica
28          0.72     0.733333      0.891304     0.913043   Virginica
29          0.60     0.466667      0.826087     0.695652   Virginica

5.	Prediksilah kelas data di iristesting.csv menggunakan kriteria kedekatan distance antara setiap data di iristesting.csv ke centroid masing2 class di iris. Gunakan euclidean distance

In [134]:
def euclid(indeks, value):
  dist = []
  for i in ['Setosa', 'Versicolor', 'Virginica']:
    cen_class = dftest[dftest['variety'] == i].mean()
    test = value.iloc[indeks, 0:4]
    a = ((test[0]-cen_class[0])**2 + (test[1]-cen_class[1])**2 + (test[2]-cen_class[2])**2 + (test[3]-cen_class[3])**2)**1/2
    dist.append(a)
  if (min(dist)== dist[0]):
    return 'Setosa'
  elif (min(dist)== dist[1]):
    return "Versicolor"
  elif (min(dist)== dist[2]):
    return "Virginica"
  else :
    return None

temp = []
for x in dftest.index:
  temp.append(euclid (x,dftest))
print(dftest['variety'] == temp)
print(dftest['variety'])

C:\Users\Nasrul Wahabi\AppData\Local\Temp\ipykernel_18324\3173138841.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cen_class = dftest[dftest['variety'] == i].mean()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
Name: variety, dtype: bool
0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
5         Setosa
6         Setosa
7         Setosa
8         Setosa
9         Setosa
10    Versicolor
11    Versicolor
12    Versicolor
13    Versicolor
14    Versicolor
15    Versicolor
16    Versicolor
17    Versicolor
18    Versicolor
19    Versicolor
20     Virginica
21     Virginica
22     Virginica
23     Virginica
24     Virginica
25     Virginica
26     Virginica
27     Virginica
28     Virginica
29     Virginica
Name: variety, dtype: object

In [135]:
print(f"Accuracy : {(dftest['variety'] == temp).sum()/len(dftest)*100}%")

Accuracy : 100.0%

6.	Hitunglah berapa persen klasifikasi yang benar (akurasi) saat memprediksi class